@import "../abstracts/variables";

.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 10px;

  @media #{$media-tablet} {
    width: 480px;
    padding: 0 18px;
  }

  @media #{$media-laptop} {
    width: 768px;
    padding: 0 20px;
  }

  @media #{$media-desktop} {
    width: 945px;
    padding: 0;
  }

  &-wrapper {
    color: $text-black;

    &_green {
      background-color: $green-background;
    }

    &_white {
      background-color: $white;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.section {
  max-width: 100%;
  position: relative;

  &__title {
    margin: 49px auto 0;
    max-width: 270px;

    @media #{$media-laptop} {
      margin-top: 87px;
      max-width: 800px;
    }
  }
}


