@import "../abstracts/variables";



.b-about {
  width: 100vw;
  height: 1000px;
  background-image: url("/src/assets/about.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-color: $bezh-background;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  position: relative;

  &__heading {
    font-size: 70px;
    display: inline-block;
    position: absolute;
    top: 400px;
    right: 70px;

    span {
      color: $text-white;
      display: block;
      background-color: $green-background;
      width: 800px;
      height: 100px;
      font-family: $header-font;
    }
  }

  .icon {
    background-image: url("src/assets/arrow.svg");
  }
}